@charset "UTF-8";
<style>
                form{
                    text-align: center;
                }
                input[type="text"]{
                font-size: 18px;
            }
            #div1{
                margin: 0 auto;
                width: 956px;
                height:600px;
                border: 4px dashed indianred;
                border-radius: 3%;
            }
            table{
                background-color: #feffef;;
        
                height: 300px;
                border-radius: 3%;
                
                margin: 0 auto;
                
                text-align: center;
            }
            .border-radius{
                padding-left: 4px;
                padding-right: 4px;
                border-radius: 5px;
                font-size: 14px;
                width: 160px;
            }
            input[type="submit"]{
            margin-left: 25px;
            border-radius:10px;
                width:60px; 
                height:30px;
                background-color: orange;
                font-size:20px;
            }
            input[type="reset"]{
            margin-left: 25px;
            border-radius:10px;
                width:60px; 
                height:30px;
                background-color:  orange;
                font-size:20px;
            }
        </style>